!!!
%html
  %head
    %title More GG - Starcraft 2 Custom Game Finder
    = stylesheets 'bootstrap'
    = stylesheets 'default'
    = javascripts 'support/date'
    = javascripts 'support/jsuri'
    = javascripts 'support/jquery'
    = javascripts 'support/json2'
    = javascripts 'support/underscore'
    = javascripts 'support/backbone'
    = javascripts 'support/socket.io'
    = javascripts 'support/bootstrap-tooltip'
    = javascripts 'support/bootstrap-popover'
    = javascripts 'app'
    = javascripts 'views/main'
    = javascripts 'views/lobbies'
  %body
    = yield
