!!!
%html
  %head
    %title Custom Game Finder
    = stylesheets
    = javascripts 'support/jquery'
    = javascripts 'support/json2'
    = javascripts 'support/underscore'
    = javascripts 'support/backbone'
    = javascripts 'support/socket.io'
    = javascripts 'app'
  %body
    = yield
